package templates

templ Index() {
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Golang TODO</title>
			<link href="/css/output.css" rel="stylesheet"/>
		</head>
		<body></body>
	</html>
}
